autopep8
charset-normalizer
colorama
country-converter
coverage
cycler
Cython
dataclasses
dill
distlib
filelock
Flask
Flask-Cors
Flask-SQLAlchemy
gunicorn
idna
importlib-metadata
importlib-resources
isort
Jinja2
kiwisolver
lazy-object-proxy
MarkupSafe
numpy
pandas
Pillow
platformdirs
psycopg2-binary
pycodestyle
pylint
pyparsing
python-dateutil
pytz
requests
scipy
SQLAlchemy
urllib3
virtualenv